body {
    background-color: #222831;
}

/* .container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    padding-top: 48px;
    padding-bottom: 48px;

    display: flex;
    justify-content: space-between;
} */


























