.main__background {
	background-image: url(../images/bg-mob.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	max-width: 328px;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.main__background {
		background-image: url(../images/bg-tab.png);
	}

	.container {
		max-width: 724px;
	}
}

@media (min-width: 1225px) {
	.main__background {
		background-image: url(../images/bg-desktop.png);
	}
	.container {
		max-width: 1280px;
	}
}

.head {
	padding-top: 58px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: relative;
}

.burger {
	width: 24px;
	height: 24px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.burger__line {
	height: 2px;
	background-color: #fff;
}

.head__menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;

	list-style: none;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;

	width: 100px;
}

.head__services {
	display: none;
}

@media (min-width: 1225px) {
	.burger {
		display: none;
	}

	.head__menu {
		display: flex;
		align-items: center;
		column-gap: 55px;
	}

	.head__menu-item {
		font-size: 18px;
		font-weight: 600;
		line-height: 130%;
		color: #fcfcfc;
	}

	.head__services {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
}
