.head {
    margin-top: 50px;
    margin-bottom: 100px;
    @include flexbox(space-between);

    &::after {
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        height: 500px;
        background-image:  linear-gradient(180deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
        z-index: -1;
    }

    &__menu {
        @include flexbox;
        column-gap: 60px;
        list-style: none;

        &-link {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
        }
    }
}

.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}