.item {
    padding: 100px;
    border: 2px solid #000;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

/* .item:hover {
    background-color: red;
} */

.item:first-child {
    background-color: red;
}

.item:nth-child(1) {
    background-color: blue;
}

.item:hover {
    background-color: green;
    padding: 50px;
}

button:disabled {
    background-color: red;
    color: turquoise;
}

button:active {
    background-color: yellow;
    color: red;
}

::selection {
    background-color: greenyellow;
}

/* p::first-letter {
    font-size: 2em;
    color: red;
} */

p::first-line {
    font-size: 2em;
    color: blue;
}

a:visited {
    color: green;
}