.head {
    padding: 43px 38px;
    @include flexbox(space-between);

    &__logo {
        text-decoration: none;
        font-size: 34px;
        font-weight: bold;
        color: $secondary-color;
    }

    &__menu {
        display: flex;
        column-gap: 70px;
        list-style: none;
    
        &-link {
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            color: $text-color;
        }

    }    
}




