.hero {
    padding-top: 155px;
    padding-bottom: 155px;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;

    &__wrapper {
        @include flexbox(flex-end);

    }

    &__info {
        padding: 37px 45px;
        border-radius: 10px;
        background-color: #DFE9F4;
    }

    &__subtitle {
        font-weight: 500;
        margin-bottom: 20px;
    }
}