.primary-button {
    padding: 25px 72px;
    border-radius: 50px;
    background-color: $secondary-color;

    font-weight: bold;
    text-transform: uppercase;
    color: $white-color;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: $title-color;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 20px;
    text-align: center;
    color: $text-color;
}