:root {
	--primary-color: #244d4d;
	--secondary-color: #154444;

	--fontM: 'Montserrat', sans-serif;
	--fontD: 'DM Sans', sans-serif;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.head {
	padding-top: 43px;
	padding-bottom: 43px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head__logo {
	font-family: var(--fontM);
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: var(--primary-color);
}

.head__menu {
	display: flex;
	align-items: center;
	column-gap: 50px;
}

.head__menu-link {
	font-family: var(--fontD);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #161616;
	text-transform: capitalize;
}

.head__services {
	display: flex;
	align-items: center;
	column-gap: 38px;
}

.burger {
	width: 25px;
	height: 24px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	overflow: hidden;
}

.burger__line {
	transition: 0.5s ease-in-out;
	height: 2px;
	background-color: var(--primary-color);
}

.burger__line:first-child,
.burger__line:last-child {
	width: 14px;
}

.burger__line:last-child {
	transform: translateX(80%);
}

.burger:hover .burger__line:first-child {
	width: 100%;
	transform: rotate(45deg) translate(6px, 2px);
}

.burger:hover .burger__line:last-child {
	width: 100%;
	transform: rotate(-45deg) translate(7px, -2px);
}

.burger:hover .burger__line:nth-child(2) {
	transform: translateX(200%);
}

.about {
	margin-top: 140px;
	margin-bottom: 140px;

	display: flex;
	justify-content: space-between;
}

.about__info,
.about__img {
	width: calc(50% - 50px);
}

.about__title {
	font-family: var(--fontM);
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.about__text {
	font-family: var(--fontD);
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	color: #383738;
	margin-bottom: 40px;
}

.about__list-item {
	display: flex;
	align-items: flex-start;
	column-gap: 20px;
	margin-bottom: 30px;
}

.about__list-title {
	font-family: var(--fontD);
	font-size: 24px;
	font-weight: 500;
	line-height: 26px;
	color: var(--primary-color);
	margin-bottom: 15px;
}

.about__list-text {
	font-family: var(--fontD);
	font-size: 18px;
	line-height: 26px;
	color: #383738;
	width: 306px;
}

.popular__title {
	font-family: var(--fontM);
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.popular__nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.popular__text {
	width: 820px;
	font-family: var(--fontD);
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	color: #383738;
}

.popular__arrows-btn {
	padding: 12px 15px;
	border-radius: 50%;
	background-color: #ecf4ff;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.popular__arrows-btn:last-child {
	transform: rotate(180deg);
}

.popular__nav {
	margin-bottom: 40px;
}

.popular__more {
	font-family: var(--fontD);
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	text-align: right;
	margin-bottom: 15px;
	color: #ff5f00;
}

.popular__products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
}

.popular__services {
	padding-top: 30px;
	padding-inline: 27px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popular__prices {
	padding-bottom: 30px;
	padding-inline: 27px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popular__products-item {
	box-shadow: 0px 13px 26px 0px #00000012;
}

.popular__services-title {
	font-family: var(--fontD);
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	color: var(--primary-color);
}

.popular__services-btn {
	background-color: #ecf4ff;
	width: 26px;
	height: 26px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;
	transition: 0.5s ease-in-out;
}
.popular__services-btn:hover {
	background-color: #ef5423;
}

.popular__services-btn:hover svg path {
	fill: white;
}

.popular__prices-title {
	font-family: var(--fontD);
	font-size: 24px;
	font-weight: 500;
	line-height: 31px;
	color: var(--secondary-color);
}

.popular__prices-button {
	padding: 5px 14px;
	border-radius: 6px;
	background-color: var(--primary-color);
	font-family: var(--fontD);
	font-size: 12px;
	font-weight: 500;
	line-height: 21px;
	color: #fff;
}

.furniture {
	margin-top: 140px;
	margin-bottom: 140px;
}

.furniture__title {
	font-family: var(--fontM);
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	color: var(--primary-color);
	margin-bottom: 30px;
}

.tabs__head {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 100px;
	margin-bottom: 100px;
}

.tabs__head-item {
	font-family: var(--fontD);
	font-size: 24px;
	font-weight: 400;
	line-height: 27px;
	color: #919090;
	position: relative;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.tabs__head-item::after {
	content: '';

	width: 57px;
	height: 2px;
	background-color: var(--secondary-color);

	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
}

.tabs__head-item:hover {
	color: var(--primary-color);
}
.tabs__head-item:hover::after {
	opacity: 1;
}

.furniture__wrapper {
	display: flex;
	column-gap: 100px;
	align-items: flex-start;
}

.furniture__img {
	position: relative;
}

.furniture__img::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);

	position: absolute;
	top: -18px;
	left: -33px;
	z-index: -1;
}

.furniture__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.furniture__list-item {
	padding: 18px 65px;
	border: 1.5px solid #d9dce5;
	text-align: center;
}

.furniture__list-icon {
	margin-bottom: 14px;
}

.furniture__list-desc {
	font-family: var(--fontD);
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	color: #919090;
}

.subscribe {
	margin-top: 140px;
	margin-bottom: 140px;
	padding-top: 65px;
	padding-bottom: 53px;
	background-color: var(--primary-color);
	text-align: center;
}

.subscribe__title,
.subscribe__desc {
	width: 554px;
	margin: 0 auto;
}

.subscribe__title {
	font-family: var(--fontM);
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	color: #fff;
	margin-bottom: 20px;
}

.subscribe__desc {
	font-family: var(--fontD);
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	color: #fff;
	margin-bottom: 50px;
}

.subscribe__form {
	padding: 8px 20px;
	background-color: #fff;
	border-radius: 10px;
	width: 470px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.subscribe__field {
	margin-inline: 5px;
	border: none;
}

.subscribe__submit {
	margin-left: auto;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #ffb624;
	color: #fff;
	font-family: var(--fontD);
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border: none;
}

.footer {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--primary-color);
}

.footer__wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1.5fr;
	color: #fff;
}

.footer__item-title {
	font-family: var(--fontM);
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	margin-bottom: 30px;
}

.footer__item-text {
	font-family: var(--fontD);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 40px;
}

.footer__item-subtitle {
	font-family: var(--fontM);
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 30px;
}

.footer__list-item {
	font-family: var(--fontD);
	font-size: 18px;
	font-weight: 400;
	line-height: 23.44px;
	margin-bottom: 16px;
}

.footer__form {
	padding: 9px 11px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.footer__form-field {
	border: none;
}

.footer__form-submit {
	border-radius: 50%;
	background-color: #ffb624;
	transform: rotate(180deg);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 8px;
}

.footer__form-submit svg path {
	fill: #fff;
}